<div class="cart-data">
  <div>
    <div class="row p-0 py-2 m-0 bg-info cart-data">
      <div class="col-md-3">
        <h6>Name</h5>
      </div>
      <div class="col-md-3">
        <h6>Quantity</h5>
      </div>
      <div class="col-md-3">
        <h6>Price</h5>
      </div>
      <div class="col-md-3"></div>
    </div>

    {% for item in cart %}
      <div class="row p-0 py-2 m-0 bg-info">
        <div class="col-md-3">
          <p>{{ item.name }}</p>
        </div>
        <div class="col-md-3 form-group">
          <input type="number" min="1" max="5" value="{{item.quantity}}" product_id="{{item.id}}" product_price="{{item.price}}" class="form-control product-quantity" required>
        </div>
        <div class="col-md-3 d-inline-flex">
          <p>Rs&nbsp</p>
          <p class="product-price">{{ item.price * item.quantity }}</p>
          <p>/-</p>
        </div>
        <div class="col-md-3">
          <button class="delete-item btn-danger" product_id={{item.id}}>Delete</button>
        </div>
      </div>
    {% endfor %}

    <div class="row p-0 py-2 m-0 bg-info">
      <div class="col-md-6 font-weight-bold">Final Amount</div>
      <div class="col-md-6 font-weight-bold d-inline-flex">
        <p>Rs&nbsp</p>
        <p class="product-total">
          {{ cartTotal }}</p>
        <p>/-</p>
      </div>
    </div>

    <div class="row m-0 p-2 bg-info">
      <input class="btn btn-light" value="Checkout"></div>
  </div>

  <p class="cart-error p-2"></p>
</div>
